

<ion-router-outlet></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="dashboard">
      <ion-icon name="apps"></ion-icon>
      <ion-label>dash</ion-label>

    </ion-tab-button>
    <ion-tab-button tab="patients">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>patients</ion-label>

    </ion-tab-button>
    <ion-tab-button tab="samples">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>samples</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shipments">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>shipments</ion-label>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
